@media (max-width: 900px) {
  .menu {
    height: 9%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  
    background: rgba(255, 255, 255, 0.192);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid rgba(43, 43, 43, 0.568);

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu__icon {
    width: 9%;
  }

  svg,
  path {
    fill: #fff;
  }

  .menu__icon.active svg,
  .menu__icon.active path {
    fill: var(--pink);
  }












}

