@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --white: #fff;
  --gray: #f2f2f2;
  --black: #0B0C10;
  --pink: #d73cbe;
  --purple: #2c1e4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Mulish', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 1s ease 0s;
}

body {
  position: relative;
}

body::after {
  position: absolute;
  content: '';
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(29,43,91);
  background: linear-gradient(0deg, rgba(29,43,91,1) 0%, rgba(52,37,87,1) 50%, rgba(58,30,83,1) 100%);

  z-index: -2;
}

a {
  text-decoration: none;
  color: var(--pink);
}

a:hover {
  /* text-stroke: 1px var(--white);
  -webkit-text-stroke: 1px var(--white); */
  /* text-decoration: underline;
  text-decoration-color: var(--pink);
  text-decoration-thickness: 1px;
  text-underline-offset: 10px; */
}

.App {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;

  position: relative;
}

.title {
  font-size: 28px;
  color: var(--white);

  text-transform: uppercase;
}

.btn-pink,
.btn-purple,
.input-custom {
  margin: auto;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  color: var(--white);

  cursor: pointer;
}

.input-custom {
  border: 1px solid var(--white);
  border-radius: 2px;
  background-color: transparent;
}

.input-custom:active,
.input-custom:focus {
  -webkit-box-shadow: 0px 0px 14px 2px rgba(255,255,255,0.4);
  -moz-box-shadow: 0px 0px 14px 2px rgba(255,255,255,0.4);
  box-shadow: 0px 0px 14px 2px rgba(255,255,255,0.4);

  outline: none;
}

.input-custom::placeholder {
  color: var(--gray);
}
.btn-pink,
.btn-purple {
  border: none;
  border-radius: 5px;
  background-color: transparent;

  text-transform: uppercase;
  font-weight: 700;
}

.btn-pink {
  background-color: var(--pink);
}

.btn-purple {
  background-color: var(--purple);
}



